.topbar {
  width: 100%;
  background: rgb(230, 234, 241);
  position: fixed;
  z-index: 99999;
}
.pointercurserRight {
  cursor: pointer;
  margin-right: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.6em;
  float: right;
  color: #839dcd;
}
.pointercurserLeft {
  cursor: pointer;
  margin-left: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.6em;
  float: left;
  color: #839dcd;
}
.meterleft {
  height: 3px;
  background-color: #c19b67;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  -webkit-animation: progress-bar-stripes 150s linear infinite;
  animation: progress-bar-stripes 150s linear infinite;
  float: left;
  overflow: hidden;
}
@keyframes progress-bar-stripes {
  to {
    background-position: 100%;
  }
}
.meterright {
  height: 3px;
  background-color: #6785c1;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
  -webkit-animation: progress-bar-stripes 100s linear infinite;
  animation: progress-bar-stripes 100s linear infinite;
  float: right;
  overflow: hidden;
}
.topblock {
  height: 30px;
}
.clear {
  clear: both;
}
.TopAnimate {
  animation: musicAnimate 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  -webkit-animation: musicAnimate 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -o-animation: musicAnimate 6s;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode: forwards;
  -o-animation-timing-function: linear;
  -moz-animation: musicAnimate 6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode: forwards;
  -moz-animation-timing-function: linear;
}
@keyframes musicAnimate {
  0% {
    color: #a6b2bd;
  }
  12.5% {
    color: #d88f97;
  }
  25% {
    color: #ddb697;
  }
  37.5% {
    color: #cec386;
  }
  50% {
    color: #78c089;
  }
  62.5% {
    color: #81b3bb;
  }
  75% {
    color: #17a2b8;
  }
  87.5% {
    color: #af92db;
  }
  100% {
    color: #a6b2bd;
  }
}
