.formCss {
  width: 100%;
  border-radius: 0.8em;
  padding: 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #5a5a5a;
  border: 0.5em solid transparent;
  background: linear-gradient(white, white) padding-box,
    repeating-linear-gradient(
        -45deg,
        red 0,
        red 12.5%,
        transparent 0,
        transparent 25%,
        #58a 0,
        #58a 37.5%,
        transparent 0,
        transparent 50%
      )
      0 / 5em 5em;
  animation: ants 200s linear infinite;
}
.formCss a {
  color: #838383;
}
.formCss input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}
.formCss input:focus {
  border-bottom: 2px solid #78788c;
}

@keyframes ants {
  to {
    background-position: 100%;
  }
}
.formCss button {
  float: right;
  padding: 0.8em 1.2em;
  margin-top: 1em;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
.formCss button:hover {
  background: #78788c;
  color: #fff;
}
.divBottom {
  content: "Hi";
  color: #5a5a5a;
  float: left;
  padding: 0.2em;
  border-radius: 6px;
  font-size: 1.3em;
  margin-top: 1em;
}
.contactIcon {
  margin-right: 0.5em;
  cursor: pointer;
}
.divShow {
  display: block;
}
.divHide {
  display: none;
}
.clear {
  clear: both;
}
